

<script type="text/template" id="plugin">

<style>

	.ncp-plugin {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select:none;
	}

	/* Checkboxes */

	input[type=radio]{
	  position: absolute;
	  visibility: hidden;
	}

	.check-group {
		position: relative;
		display: block;
	    width: 38px;
	    height: 20px;
	    text-align: left;
	}

	

	.storm-buttons-container label {
	  position: relative;
	  display: block;
	  width: 70px;
	  padding-top: 1px;
	  padding-left: 30px;
	  color: #666;
	  font-size: 12px;
	  cursor: pointer;
	  -webkit-transition: all 0.25s linear;
	  transition: all 0.25s linear;
	  z-index: 100;
	}

	.storm-buttons-container .radio-control {

	}

	.storm-buttons-container .check-group.annual {
		margin-top: 6px;
	}

	.storm-buttons-container .check-group.annual label {
		width: 140px;
	}

	.check-group:hover label {
		color: #306692;
	}

	.radio-select{
	  position: absolute;
	  display: block;
	  left: 14px;
	  border: 2px solid #306692;
	  border-radius: 100%;
	  height: 12px;
	  width: 12px;
	  z-index: 5;
	  transition: border .25s linear;
	  -webkit-transition: border .25s linear;
	}

	.radio-select::before {
	  display: block;
	  position: absolute;
	  left: 1px;
	  top: 1px;
	  content: '';
	  border-radius: 100%;
	  height: 6px;
	  width: 6px;
	  margin: auto;
	  transition: background 0.25s linear;
	  -webkit-transition: background 0.25s linear;
	}

	input[type=radio]:checked ~ .radio-select::before{
	  background:#306692;
	}

	input[type=radio]:checked ~ .check {
	  border: 1px solid #306692;
	}

	input[type=radio]:checked ~ label{
	  color: #306692;
	}

	/* End Checkboxes */

	.clearfix {
		overflow: auto;
  		zoom: 1;
	}

	.title {
	    margin: 6px 3px;
		font-weight: bold;
	    font-size: 22px;
	    text-align: center;
	}

	.main-message {
		margin: 4px;
	}

	.controls-container {
		padding: 10px 8px;
		background-color: #f3f4f3;
	}

	.storm-buttons-container {
		float: left;
		width: 175px;
	}

	.storm-buttons-container .control-title,
	.region-select-container .control-title {
    	display: inline-block;
		margin-bottom: 6px;
    	font-weight: bold;
	}

	.region-select-container {
		float: right;
		width: 155px;
	}

	.styled-select {
		position: relative;
		width: 150px;
		height: 36px;
		overflow: hidden;
		border: 2px solid #aaaaaa;
		border-radius: 4px;
		background-color: #fff;
		cursor: pointer;
	}

	.styled-select::after {
		display: block;
		position: absolute;
		right: 5px;
    	top: 8px;
		content: '\f078';
		color: #999;
		font-family: FontAwesome;
		pointer-events: none;
	}

	.styled-select select {
		background: transparent;
		width: 168px;
		padding: 5px;
		font-size: 16px;
		line-height: 1;
		border: 0;
		border-radius: 0;
		color: #666;
		height: 32px;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;
	}

	.styled-select select optgroup,
	.styled-select select option {

	}

	.download-summary {
		margin-top: 12px;
	    margin-left: 1px;
	    margin-right: 6px;
	    margin-bottom: 6px;
	    color: #226491;
	    cursor: pointer;
	    border: 1px solid;
	    border-radius: 4px;
	    padding: 4px;
	    background-color: #fff;
	    text-align: center;
	    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.2);
	    transition: box-shadow 0.2s;
    }

    .download-summary:active {
    	box-shadow: none;
    }

	.stats-container {
		width: 100%;
		display: table;
	}

	.stat {
		display: table-row;
		height: 50px;
	}

	.stat.active .description,
	.stat.active .number {
		color: #226491;
	}

	.stat .number {
		display: table-cell;
    	width: 50%;
		cursor: pointer;
		padding-left: 8px;
		font-size: 45px;
	    font-weight: bold;
	    color: #d8d8d8;
	    transition: color 0.35s linear;
	}

	.stat:hover .description,
	.stat:hover .number {
		color: #226491;
	}

	.stat .description {
		cursor: pointer;
	    display: table-cell;
    	width: 42%;
	    padding-left: 10px;
		color: #d8d8d8;
	    font-size: 19px;
	    vertical-align: middle;
	    text-align: right;
	    transition: color 0.35s linear;
	}

	.coral-select-container {
		float: left;
	    width: 175px;
	    text-align: left;
	    margin-top: 4px;
	    clear: left;
	    margin-left: 13px;
	}

	.coral-select-container input[type=checkbox] {
	  /* Double-sized Checkboxes */
	    margin-top: 1px;
		-ms-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-o-transform: scale(14);
		padding: 10px;
	}

	.coral-select-container span {
		margin-left: 8px;
	}

	.ncp-tooltip {
		position: absolute;
		display: none;
		color: #666;
		border: 1px solid #7EABCD;
		padding: 5px;
		border-radius: 5px;
		font-size: 9pt;
		background-color: #fff;
	}

	/* Chart SVG Styles */

	.chartContainer {
		text-align: center;
	}

	path {
		stroke: #226491;
		stroke-width: 2px;
		fill: none;
	}

	.points-current circle {
		fill: #226491;
	}

	path.scenario {
		stroke: #E40029;
	}

	.points-scenario circle {
		fill: #E40029;
	}

	.area-current {
	    fill: #a8d2ef;
	    stroke-width: 0;
	}

	.area-scenario {
	    fill: #fec4cf;
	    stroke-width: 0;
	}

	.area.scenario {
	    fill: red;
	    stroke-width: 0;
	}

	.xaxis path,
	.yaxis path {
		fill: none;
		stroke: #ccc;
		stroke-width: 1px;
		shape-rendering: crispEdges;
	}

	.esriLegendService img {
		border: none;
	}

	.bar {
		fill: #E40029;
	}

	.bar.present {
		fill: #226491;
	}

</style>

	<div class="ncp-plugin">
	    <div class="title">Flood Protection Provided by Coral Reefs</div>
	    <div class="main-message">
	    	This analysis combines ecology, engineering, and economics to 
	    	estimate the global role of coral reefs in flood protection.
	    </div>
	    <div class="controls-container clearfix">

	    	<div class="region-select-container">
	    		<span class="control-title">Region:</span><br>
	    		<div class="styled-select">
		    		<select class="region-select">
		    			<optgroup label="Select Region">
		    			<% _.each(regions, function(val, key) { %>
		    				<option <% if (key === "Global") { %> selected <% } %>> <%= key %></option>
		    			<% }); %>
		    			</optgroup>
		    		</select>
		    	</div>
		    	<div class="download-summary" style="display: none">Download Country Summary for <span class="country"></span> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></div>
	    	</div>

	    	<div class="storm-buttons-container">

		    	<div class="radio-control">
			    	<span class="control-title">Annual Expected Benefit <i class="fa fa-info-circle info-annual info-tooltip"></i>:</span>
		    		<div class="check-group annual">
						
						<label>
							<input  type="radio" name="storm<%=pane%>" value="ANN" checked="checked" />
							<div class="radio-select"></div>
							&nbsp;
						</label>
		    		</div>
	    		</div>

	    		<div class="radio-control">
		    		<span class="control-title">Storm Return Period <i data-tooltip="" class="fa fa-info-circle info-period info-tooltip"></i>:</span>
		    		<div class="check-group">
						<label>
							<input type="radio" name="storm<%=pane%>" value="25RP" />
							<div class="radio-select"></div>
							25 yrs
						</label>
		    		</div>
		    		<div class="check-group">
		    			<label>
							<input type="radio" name="storm<%=pane%>" value="100RP" />
							<div class="radio-select"></div>
							100 yrs
						</label>
		    		</div>
		    	</div>
	    	</div>

	    	<div class="coral-select-container">
		    	<label><input type="checkbox" /><span>View Coral Reef Habitats</span></label>
		    </div>

	    </div>
	    <div class="stats-container">

	    	<div class="stat people active" data-layer="people">
	    		<span class="description"><i data-tooltip="This value represents the comparison of flooding
					 impacts on people when coral reefs are present and 
					When there is 1 meter of reef loss. This value is aggregated
					To the country scale from 90m resolution data." class="fa fa-info-circle info-people info-tooltip"></i> People Protected</span>
	    		<span class="number"><%= global.E2E1_DIF_ANN_PF %></span>
	    	</div>

	    	<div class="stat capital" data-layer="capital">
	    		<span class="description"><i data-tooltip="This value represents the comparison of flooding
					 impacts on Built Capital when coral reefs are present and 
					When there is 1 meter of reef loss. This value is aggregated
					To the country scale from 90m resolution data." class="fa fa-info-circle info-capital info-tooltip"></i> Built Capital Protected</span>
	    		<span class="number">$<%= global.E2E1_DIF_ANN_BCF %>M</span>
	    	</div>

	    	<div class="stat area" data-layer="area">
	    		<span class="description"><i data-tooltip="This value represents the comparison of flooding impacts on land area when coral reefs are present and when there is 1 meter of reef loss. This value is aggregated to the country scale from 90m resolution data. " class="fa fa-info-circle info-area info-tooltip"></i> Area Protected</span>
	    		<span class="number"><%= global.E2E1_DIFF_ANN_AF %>km<sup>2</sup></span>
	    	</div>

	    </div>

	    <div class="chartContainer">

	    </div>

	    <div class="ncp-tooltip"></div>
	</div>

</script>